{lib_dirs, ["deps"]}.
{erl_opts, [{i, ".."}, {i,"deps"}, {parse_transform, lager_transform}, debug_info, warnings_as_errors]}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{deps,
 [
  lager,
  mdns_client_lib,
  %%{fifo_spec, ".*", {git, "https://github.com/project-fifo/fifo_spec.git", {tag, "0.1.21"}}}
  {fifo_spec, ".*", {git, "https://github.com/project-fifo/fifo_spec.git", {branch, "test"}}}
 ]}.

{overrides,
 [{override, pooler,
   [{erl_opts,
     [{platform_define, "^[0-9]+", namespaced_types},
      debug_info,
      inline]}]}]}.
