{lib_dirs, ["deps"]}.
{erl_opts, [{i, "../alog/include"}, {i, ".."}, {i,"deps"}, debug_info]}.
{sub_dirs, []}.
{deps,
 [
  {gproc, ".*", {git, "https://github.com/uwiger/gproc.git", {branch, master}}}, %{tag, "v0.2.10"}}},
  {nodefinder, ".*", {git, "https://github.com/Licenser/nodefinder.git", {branch, master}}},
  {alog, ".*", {git, "https://github.com/siberian-fast-food/alogger.git", {branch, "master"}}}
 ]}.
