{lib_dirs, []}.
{erl_opts, [{i, "../alog/include"}, {i, ".."}, {i,"deps"}, debug_info]}.
{sub_dirs, ["rel", "apps"]}.
{deps,
 [
  {gproc, ".*", {git, "https://github.com/uwiger/gproc.git", {branch, master}}}, %{tag, "v0.2.10"}}},
  {alog, ".*", {git, "https://github.com/siberian-fast-food/alogger.git", {branch, "master"}}}
 ]}.
